*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 400;
  height: 100%;
}

html{
  height: 100%;
}

.links{
  flex: 2;
  justify-content: center;
}
.media{
  flex: 1;
  justify-content: left;
  display: flex;
  align-items: center;
  padding-left: 2vw;
}
.links ul li{
  display: inline;
}
.links ul li:after{
  padding: 10px;
  content:'|';
}
.links ul li:last-child:after{
  content: none;
}

.fab{
    padding-left: 22px;
    font-size: 20px;
    position: relative;
    
}
header nav ul {
     display: none;
}
@media screen and (min-width: 600px){
  footer{
  display: flex;
}
  .ps1 {
    display: flex;
    flex-wrap: wrap;
  }
 .ps2 {
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
  } 
  .pk1{
    flex: 1;
    width: 100%;
  }
 

}

.ps2 div {
  border: 12px solid white ;
  position: relative;
  display: inline-block;
  padding: 10px;
  background:black;
  text-align: center;
}

 .pk2{
  flex: 1;
  width: 100%;
}

.caption2{
  position: relative;
}
 .fig2{
  width: 100%;
}


.ps1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.pk1{
    text-align: center;
    color: white;
    font-size: 130%;
    font-family: roboto,Sans-Serif,Arial;
    padding-top: 64px;
    justify-content: space-around;
}
.pk1:first-child{
  justify-content: space-around;

}
button{
  background: transparent;
  color: white;
  font-size: 130%;
  border-radius: 22px;
  text-transform: uppercase;
  font-size: 12px;
}
button:hover{
  background: rgba(0,0,0,1);
}
header ul  li a{
  font-size: 1.5vw;
  font-family: roboto,Sans-Serif,Arial;
  text-align: center;
  padding: 0;

}
header nav ul{
  display: flex;
  padding: 0;
  padding-left: 0;
  padding-right: 0;


}
header li {
  flex:1;
}

header {
  background: white;
  text-align: left;
  position: fixed;
  z-index: 999;
  font-family: roboto,Sans-Serif,Arial;
  width: 100%;
}
h1{
  color: rgba(0,0,0,.8);
}
nav  {
  position: absolute;
  text-align: left;
  top: 100%;
  padding-right: 20px;
  background:white;
  width: 100%;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle{
  display: none;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgba(0,0,0,.8);
  height: 2px;
  width: 23px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

nav li {
  margin-bottom: 16px;
  margin-left: 16px;
}

nav a, .ps2 a, .container3 a {
  color: rgba(0,0,0,.8);
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

.ps2 a:hover, .container3 a:hover{
  text-decoration: underline dotted;
}
nav a:hover {
  background: rgba(0,0,0,.1);
}
.nav-toggle:checked~ul{
  display: block;
}


@media screen and (min-width: 900px) {
  .nav-toggle-label {
     display: none;
   }
  .nav-toggle:checked~ul{
     display: flex;
   }
   header nav ul{
    display: flex;
   }
   header{
    display: flex;
   }
  h1{
    margin:0px;
    width: 40%;
    height: 43px;
    flex: 1;
  }
  nav{
    width: 60%;
    height: 50px;
    position: relative;
    flex: 2;
  }
  nav ul{
    display: flex;
    margin: 0;
    padding: 0 100px;
  }
  
  nav a{
    display: block;
    padding: 0px 20px;
    line-height: 43px;
  }
  .pk1{
    display: flex;
    flex-wrap: wrap;
     }
  
}
 footer img{
  width:50px;
  height:30px;  
  display: inline;
}
#logo{
  height: 3vw;
  width: 14vw;
}
.About{
  display: flex; 
  list-style: none;   
}
footer{

  color: white;
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
}

.caption1{
      margin-bottom: 5px;
    margin-top: 0;
    font-family: 'Gotham Medium';
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: white;
    font-size: 130%;
    font-family: roboto,Sans-Serif,Arial;
  
}
.insert{
  border: 12px  ;
  border-color: #cc7ecc;
  position: relative;
  display: inline-block;
  padding: 10px;
  background: white;
  width: 100%;
  text-align: center;
}
@media all and (max-width: 900px)
{
  header nav ul {
    display: none;
  }
}
.foot ul li,.foot1 ul li{
  list-style: none;
}
.foot ul, .foot1 ul, .f_4 ul{
  padding: 0;
  margin:0;
}
.fig2:hover{
  -webkit-box-shadow: 22px 10px 11px -2px rgba(66,26,26,1);
-moz-box-shadow: 22px 10px 11px -2px rgba(66,26,26,1);
box-shadow: 22px 10px 11px -2px rgba(66,26,26,1);
}
.ps2{
  color: white;
}