@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');


*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
  height: 100%;
}

html{
  height: 100%;
}
footer section{
  position: relative;
  display: inline;
  background color: black;
}

.links{
  flex: 2;
  justify-content: center;
}
.media{
  flex: 1;
  align-items: right;
  justify-content: left;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.links ul li{
  display: inline;
}
.links ul li:after{
  padding: 10px;
  content:'|';
}
.links ul li:last-child:after{
  content: none;
}
footer a{
    display: inline;
    font color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 43px;
}

.fab{
    padding-left: 22px;
    font-size: 20px;
    position: relative;
    
}
@media screen and (min-width: 600px){
  footer{
  display: flex;
}
  .container1 {
    display: flex;
  }
 .container2 {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
  } 
 

}

.container2 div {
  border: 12px solid white;
  position: relative;
  display: inline-block;
  padding: 10px;
  background: rgba(0,0,0,.2);
}

 .box-2{
  flex: 1;
  width: 100%;
}

.caption2{
  position: relative;
}
 .fig2{
  width: 100%;
}


.container1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home.jpg");
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box-1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 130%;
    font-family: 'Bree Serif', serif;
}
button{
  background: rgba(0,0,0,.8);
  color: white;
  font-size: 130%;
  font-family: 'Bree Serif', serif;
  border-radius: 10px;
}
button:hover{
  background: rgba(0,0,0,.2);
}

header {
  background: rgba(150,180,166,0.86);
  text-align: left;
  position: fixed;
  z-index: 999;
  width: 100%;
}
h1{
  color: rgba(0,0,0,.8);
}
nav  {
  position: absolute;
  text-align: right;
  top: 100%;
  padding-right: 20px;
  background: rgba(150,180,166,0.86);;
  width: 100%;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle{
  display: none;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgba(0,0,0,.8);
  height: 2px;
  width: 23px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

nav li {
  margin-bottom: 16px;
  margin-left: 16px;
}

nav a, .container2 a, .container3 a {
  color: rgba(0,0,0,.8);
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

.container2 a:hover, .container3 a:hover{
  text-decoration: underline dotted;
}
nav a:hover {
  background: rgba(0,0,0,.1);
}
.nav-toggle:checked~ul{
  display: block;
}
@media screen and (min-width: 900px) {
  .nav-toggle-label {
     display: none;
   }
  .nav-toggle:checked~ul{
     display: flex;
   }
   header{
    display: flex;
   }
  h1{
    margin:0px;
    width: 40%;
    height: 43px;
    flex: 1;
  }
  nav{
    width: 60%;
    height: 50px;
    position: relative;
    flex: 2;
  }
  nav ul{
    display: flex;
    margin: 0;
    padding: 0 100px;
  }
  
  nav a{
    display: block;
    padding: 0px 20px;
    line-height: 43px;
  }
  
}
 footer img{
  width:50px;
  height:30px;
}

